apiVersion: v1
kind: Service
metadata:
  name: product-service
  namespace: backend
spec:
  type: NodePort
  selector:
    app: product-service
  ports:
    - protocol: TCP
      port: 5001
      targetPort: 5001
      nodePort: 30801
