apiVersion: v1
kind: Service
metadata:
  name: product-service
  namespace: backend
spec:
  selector:
    app: product-service
  ports:
    - protocol: TCP
      port: 5001       # ClusterIP service port
      targetPort: 5001 # containerPort
      nodePort: 30801
  type: ClusterIP
