apiVersion: v1
kind: Service
metadata:
  name: postgres
  namespace: database
spec:
  selector:
    app: postgres
  ports:
    - protocol: TCP
      port: 5432        # ClusterIP service port
      targetPort: 5432  # containerPort
      nodePort: 30803   # NodePort for external access
  type: NodePort
